{% extends "formie-rest-api/_layouts/settings" %}
{% set title = 'General Settings'|t('formie-rest-api') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'general' %}

{% set crumbs = [
    {
        label: formieRestApiHelper.fullName|t('formie-rest-api'),
        url: url('formie-rest-api'),
    },
    {
        label: 'Settings'|t('formie-rest-api'),
        url: url('formie-rest-api/settings'),
    },
    {
        label: 'General'|t('formie-rest-api'),
        url: url('formie-rest-api/settings/general'),
    },
] %}

{% block content %}
    {{ actionInput('formie-rest-api/settings/save') }}
    {{ redirectInput('formie-rest-api/settings/general') }}
    {{ hiddenInput('section', 'general') }}

        <h2 class="first">{{ 'General Settings'|t('formie-rest-api') }}</h2>

        {% include 'lindemannrock-base/_partials/field-plugin-name' with {
            settings: settings,
            pluginHandle: 'formie-rest-api',
        } only %}

        {% include 'lindemannrock-base/_partials/field-log-level' with {
            settings: settings,
            pluginHandle: 'formie-rest-api',
        } only %}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
